* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #00082F;
  }
  
  .dark {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
    --primary-color: #4263EB;
    --primary-color-dark: #00082F;
  }
  
  a{
    text-decoration: none;
  }
  
  body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 32px;
    color: #EDF2FF;
    margin-top: 24px;
    margin-bottom: 8px;
  
  }
  
  .profissao {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  opacity: 0.6;
  }
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto 0px;
  }
  .avatar{
    width: 100%;
    border-radius: 50%;
    width: 150px;
    right: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  
  
  ul li a{
    border: 1px solid;
    background: var(--primary-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
     margin-bottom: 16px;
     border-radius: 6px;
      transition: background 800ms;
  }
  
  ul li a:hover{
   background: var(--primary-color-dark);
  }
  
  footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
  }
  
  footer a{
    color: var(--primary-color-dark);
  
  }